{% extends 'layout.html' %}
{% block content %}
    
    <div class="col-sm-10 ml-auto mr-auto ">
        <H2>Tv Shows</H2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                        <tr>
                            <td scope="row">{{entry.name}}</td>
                            <td>{{entry.category}}</td>
                            <td>
                                {% for i in range(entry.rating) %}
                                <span class="fa fa-star checked"></span>
                                {% endfor %}
                                {% for i in range(5-entry.rating) %}
                                <span class="fa fa-star"></span>
                                {% endfor %}
                            </td>
                            <td><a href="{{url_for('delete', entry_id = entry.id)}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                        </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}